* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.4s ease;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-bottom: 70px;
}

body.win {
  background-color: #fffbe6;
}

body.lose {
  background-color: #fdecea;
}

body.normal {
  background-color: #f4f4f4;
}

/* NAVBAR */
nav {
  transition: background-color 0.4s ease;
  background-color: #222;
  padding: 16px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.4);
}

nav a:hover {
  color: aquamarine;
}

nav a.active {
  color: turquoise;
  border-bottom: 2px solid turquoise;
}

/* MAIN */
main {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 24px;
  border-radius: 6px;
}

/* BAŞLIKLAR */
h1 {
  margin-bottom: 16px;
}

h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}

/* PARAGRAFLAR */
p {
  margin-bottom: 16px;
}

/* LİSTELER */
ul {
  margin-left: 20px;
  margin-bottom: 16px;
}

/* FOOTER */
footer {
  transition: background-color 0.4s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
  padding: 16px;
  background-color: #222;
  color: #fff;
}

footer button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

/* TAŞ KAĞIT MAKAS */
#game button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game button img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

#game .choices {
  display: flex;
  justify-content: left;
  gap: 20px;
}

nav.win, footer.win {
  background-color: rgb(0, 53, 0) !important;
}

nav.lose, footer.lose {
  background-color: #3b0000 !important;
}

nav.normal, footer.normal {
  background-color: #222 !important;
}